.App {
  text-align: center;
}

.like{
  background-image: url("../images/like.ico");
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-style: oblique;
}


.unlike{
  background-image: url("../images/unlike.ico");
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.trash{
  background-image: url("../images/trash.png");
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pencil{
  background-image: url("../images/pencil.png");
  background-size: 25px;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.no-message-found{
  padding: 50px;
  font-size: 20px;
}
/* Posts Form*/
.post-form{
  width: 50%;
  display: block;
  margin: auto;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.post-form input[type="text"]:focus,
.post-form textarea:focus,
.post-form select:focus {
    background: #d2d9dd;
}

.post-form select{
  text-transform: capitalize;
}

.post-form input[type="text"],
.post-form textarea,
.post-form select{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.post-form .invalid-field{
  border: 1px solid red !important;
}

.post-form input[type="submit"],
.post-form input[type="button"]{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 30%;
}

.post-form input[type="submit"]:hover,
.post-form input[type="button"]:hover{
    background: #109177;
}

.post-form .title{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.teste{
  background-color: red;
}

/* Generic */
.margin-left-35-percent{
  margin-left: 40%;
}

.margin-left-2-percent{
  margin-left: 2%;
}

.width-50-percent{
  width: 50%;
}

.width-13-percent{
  width: 13%;
}

.width-80-percent{
  width: 80%;
}

.width-100-percent{
  width: 100%;
}

.margin-top-15{
  margin-top: 15px;
}

.align-text-left{
  text-align: left;
}
